.product-card {
    margin:2px;
    padding:10px;
    border-radius:20px;
    border-style:groove;
    border-color:rgb(226, 255, 199);
}

@media (max-width:480px) {
    .product-card {
        width:80%;
    }
}

.product-img {
    width:200px;
}

.product-buttom {
    color:green;
    background-color:white;
    border-style:none;
    padding:5px;
}

.product-title{
    font-size:22px;
    font-weight:bold;
}

.product-price{
    font-size:20px;
    font-weight:bold;
    color:darkgray;
}


