.count-selectors {
    display:flex;
    justify-content:center;
    padding:20px;
}

.count-buttom {
    color:white;
    background-color:green;
    border-radius:50px;
    border-style:none;
    padding:10px;
    margin:4px;
}

.count-buttom:disabled {
    background-color:#9fc29a;
}

.count-display {
    color:black;
    padding:10px;
    margin:5px 10px 5px 20px;
}

.count-add {
    color:green;
    background-color:lightgray;
    border-radius:10px;
    border-style:none;
    padding:15px;
    margin: 4px;
    
}

@media (max-width:480px) {
    .product-card {
        width:80%;
    }
}